/**
*
*	Name:			DANA Fonts
*	Version:			1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		May 22, 2019
*	Updated on:		May 22, 2019
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت دانا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
DANA fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url("./dana-thin.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("./dana-extralight.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("./dana-light.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("./dana-medium.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("./dana-demibold.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url("./dana-ultrabold.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("./dana-extrabold.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url("./dana-black.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("./dana-bold.woff2") format("woff2");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("./dana-regular.woff2") format("woff2");
}
